{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="pb-4 text-center">Востребованность ios-разработчиков</h2>
{% for statistic in statistics %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <div class="dynamic-salary-level-by-years d-flex align-items-center">
    <h4 class="text-secondary">Динамика уровня зарплат по годам</h4>
     <img src="{{ statistic.salary_chart.url }}" alt="Salary level" class="me-3" style="height: 400px;">
  </div>
  <div class="dynamic-salary-level-by-years d-flex align-items-center">
    <h4 class="text-secondary">Динамика количества вакансий по годам</h4>
    <img src="{{ statistic.vacancy_chart.url }}" alt="Count vacancies" class="me-3" style="height: 400px;">
  </div>
</div>
{{ statistic.data | safe }}
{% endfor %}
{% endblock %}